@import 'libs/normalize';
@import 'libs/fonts';
@import 'base/variables';

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #fff;
}

body {
    background-color: #000;
}

.container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #000;
}

.gold {
    color: $gold;
}

.section {
    &__padding {
        padding-top: 100px;
    }
    &__title {
        width: 700px;
        height: 47px;
        margin: 0 auto;
        position: relative;
        text-align: center;
        &-text {
            margin: 0;
            font-family: Merriweather;
            font-weight: 700;
            font-size: 40px;
            color: $gold;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 274px;
                height: 2px;
                background-color: $gold;
            }
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 274px;
                height: 2px;
                background-color: $gold;
            }
        }
    }
}

.button {
    width: 220px;
    height: 55px;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
    transition: 0.3s all;
    cursor: pointer;
    &:hover {
        color: #fff;
    }
    &_gold {
        border: none;
        background-color: $gold;
        color: #000;
    }
    &_black {
        background-color: #000;
        border: 2px solid $gold;
        color: $gold;
    }
}

@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/video';