@media (max-width: 1440px) {
    .portfolio {
        &__wrapper {
            justify-content: center;
        }
    }
    .skills {
        &__wrapper {
            display: grid;
            grid-template: repeat(2, auto) / repeat(2, auto);
            justify-content: center;
            gap: 40px;
        }
    }
    .price {
        &__cards {
            display: grid;
            grid-template: repeat(2, auto) / repeat(2, auto);
            justify-content: center;
            gap: 40px;
        }
        &__card-gold {
            margin: 0 auto;
            grid-column: 1 / 3;
        }
    }
}

@media (max-width: 992px) {
    .price {
        &__cards {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}