.skills {
    min-height: 482px;
    &__wrapper {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        width: 320px;
        height: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &-icon {
            height: 50px;
        }
        &-title {
            margin-top: 50px;
            font-size: 20px;
            font-weight: 700;
        }
        &-descr {
            font-size: 16px;
            line-height: 36px;
            text-align: center;
        }
    }
}