.video {
    &__player {
        position: relative;
        width: 100%;
        margin-top: 90px;
    }
    &__screen {
        width: 100%;
    }
    &__play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 1;
        path {
            transition: 0.3s all;
        }
        &:hover {
            path {
                fill: $gold;
            }
        }
    }
}